* {
	margin:0;
	padding:0;	
}
a{
	text-decoration: none;
	color: white;
}
li{
	display: inline;
	list-style: none;

}

.topbar {
	height: 50px;
	background-color: black;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.topbar-items li {
	padding: 0 7px;
}
.main-nav {
	height: 60px;
	background-color: grey;
	display: flex;
	flex-direction: row;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-items li {
	padding: 0 7px;
}

.nav-icons {
	cursor: pointer;
	padding: 7px;
	height: 35px;
}

.logo {
	height: 100%;
}







